*.DS_Store
*_C.d
*_C_ACLiC*
*_C.so
*_h.d
*_cxx.d
*_cxx_ACLiC*
*_cxx.so
*_h.so
*.tex.bak
out.tmp
*_Acli
*.tex.backup
*.aux
*.dvi
*.log
*.out
*.toc
*.blg
AnalysisSummary.dvi
AnalysisSummary.log
itssa.log
texput.log
*.bak
.vscode
